@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .animate-carousel {
      animation: slide 9s infinite;
    }
  
    @keyframes slide {
      0%, 33% {
        transform: translateX(0);
      }
      33.01%, 66% {
        transform: translateX(-100%);
      }
      66.01%, 100% {
        transform: translateX(-200%);
      }
    }
  }

  .hero-carousel{
    @apply -z-10 relative;
  }

  .slick-dots-numbered {
    display: flex;
    position: relative;
    justify-content: center; /* Center dots horizontally */
    top: 40rem; /* Adjust based on carousel height */
    list-style: none;
    gap: 1rem; /* Add spacing between dots */
    padding: 0.5rem 1rem; /* Add padding around dots */
}

.slick-dots-numbered li {
    width: 20rem; /* Increase circle size */
    height: 20rem;
    cursor: pointer;
    background-color: none; /* No fill color inside the circle */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}





  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  /* Show scrollbar */
  .scrollbar::-webkit-scrollbar {
    display: block;
  }
  .scrollbar {
    -ms-overflow-style: auto;  /* IE and Edge */
    scrollbar-width: auto;  /* Firefox */
  }
}


.centered-container {
    @apply flex items-center justify-center h-screen;
}

.responsive-div{
   @apply bg-orange-500 grid place-items-center w-6 h-6
         sm:bg-black sm:w-10 sm:h-10
         md:bg-pink-800 md:w-20 md:h-20
         lg:bg-red-600 lg:w-32 lg:h-32
         xl:bg-yellow-600 xl:w-36 xl:h-36
         2xl:bg-green-700  2xl:w-1/2 2xl:h-36
}

